* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background: #eef2ff;
    color: #0E1B2B;
}

.topbar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40px;
    border-bottom: 1px solid #ddd;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.topbar__logo {
    font-size: 2rem;
    color: #2AC388;
}

.topbar__subtitle {
    color:  #5F6F7F;
    font-size: 0.8rem;
}

.topbar__right {
    display: flex;
    align-items: center;
    gap: 24px;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #EEF1F4;
    padding: 10px 14px;
    border-radius: 999px;
}

.search-form__input {
    border: none;
    background: transparent;
    outline: none;
}

/* PERFIL */

.profile {
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile__name {
    font-weight: bold;
    text-decoration: none;
    color: #2AC388
}

.profile__image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.profile__logout {
    border: none;
    background: none;
    color: #2AC388;
    cursor: pointer;
}

/* MAIN */

.admin-home {
    max-width: 1400px;
    margin: auto;
    padding: 60px 70px 80px;
}

/* HERO */

.admin-home__hero {
    margin-bottom: 50px;
}

.admin-home__title {
    font-size: 2.5rem;
    color: #0E1B2B;
    margin-bottom: 14px;
}

.admin-home__description {
    color: #5F6F7F;
    font-size: 1rem;
    max-width: 700px;
    line-height: 1.6;
}

/* ACTIONS */

.admin-actions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

/* CARD */

.admin-card {
    background: white;
    border-radius: 32px;
    padding: 50px 40px;
    box-shadow: 0 8px 30px rgba(15, 23, 42, 0.06);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    gap: 22px;
    min-height: 320px;
    position: relative;
    z-index: 1;
}

.admin-card:hover {
    transform: translateY(-6px);

}

/* ICON */

.admin-card__icon {
    font-size: 4rem;
    color: #2AC388;
}

/* TITLE */

.admin-card__title {
    font-size: 2rem;
    color: #0E1B2B;
}

/* TEXT */

.admin-card__text {
    color: #5F6F7F;
    line-height: 1.7;
    font-size: 1rem;
}

/* BUTTON */

.admin-card__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 14px 20px;
    border-radius: 14px;
    background: #2AC388;
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.admin-card__button:hover {
    background: #5b21b6;
}

/* RESPONSIVO */

@media (max-width: 992px) {

    .admin-home {
        padding: 40px 24px 60px;
    }

    .admin-actions {
        grid-template-columns: 1fr;
    }

    .admin-home__title {
        font-size: 2rem;
    }

    .admin-card {
        padding: 36px 28px;
        min-height: auto;
    }

    .admin-card__title {
        font-size: 1.6rem;
    }

}

/* FOOTER */

.footer {
    margin-top: 80px;
    background-color: white;
    border-top: 1px solid #E6EAED;
    padding: 50px 30px 20px;
}

.footer__content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.footer__brand p,
.footer__navigation a {
    color: #0E1B2B;
}

.footer__logo {
    color: #2AC388;
    margin-bottom: 16px;
}

.footer__description {
    color: #6b7280;
}

.footer__navigation {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__navigation a {
    text-decoration: none;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-decoration: none;
    list-style: none;
    color: #0E1B2B;
}

.footer__list a:hover {
    color: #2AC388;
}

.footer__list .footer__logout:hover {
    color: red
}

.footer__copyright {
    text-align: center;
    margin-top: 40px;
    color: #5F6F7F;
}

/* RESPONSIVO */

@media (max-width: 992px) {

    body {
        flex-direction: column;
    }

  /* TOPBAR */

    .topbar {
        flex-direction: column;
        height: auto;
        gap: 20px;
        padding: 20px;
        align-items: flex-start;
    }

    .topbar__right {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .search-form {
        width: 100%;
    }

    .search-form__input {
        width: 100%;
    }

    .admin-home {
        padding: 40px 24px 60px;
    }

    .admin-actions {
        grid-template-columns: 1fr;
    }

    .admin-home__title {
        font-size: 2rem;
    }

    .admin-card {
        padding: 36px 28px;
        min-height: auto;
    }

    .admin-card__title {
        font-size: 1.6rem;
    }

    /* FOOTER */

    .footer {
        padding: 40px 20px 20px;
    }

}

/* =========================
   MODAL DE SAÍDA
========================= */

.logout-modal {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.45);

  opacity: 0;
  visibility: hidden;

  transition: 0.3s ease;

  z-index: 9999;
}

.logout-modal--active {
  opacity: 1;
  visibility: visible;
}

/* CONTAINER */

.logout-modal__container {
  width: 90%;
  max-width: 390px;

  background: #ffffff;

  border-radius: 32px;

  padding: 40px 30px;

  text-align: center;

  animation: modalFade 0.3s ease;
}

/* ANIMAÇÃO */

@keyframes modalFade {

  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }

}

/* ÍCONE */

.logout-modal__icon {
  width: 80px;
  height: 80px;

  margin: 0 auto 24px;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #EAF7F0;

  color: #2AC388;

  font-size: 34px;
}

/* TÍTULO */

.logout-modal__title {
  font-size: 2.2rem;
  font-weight: 700;

  color: #0E1B2B;

  margin-bottom: 18px;

  line-height: 1.1;
}

/* TEXTO */

.logout-modal__text {
  font-size: 1rem;

  color: #6b7280;

  line-height: 1.7;

  margin-bottom: 32px;
}

/* BOTÕES */

.logout-modal__buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* BOTÃO CONTINUAR */

.logout-modal__continue {
  height: 58px;

  border: none;
  border-radius: 18px;

  background: #2AC388;

  color: white;

  font-size: 1rem;
  font-weight: 600;

  cursor: pointer;

  transition: 0.2s;
}

.logout-modal__continue:hover {
  transform: scale(1.02);
}

/* BOTÃO SAIR */

.logout-modal__exit {
  height: 58px;

  border-radius: 18px;

  border: 2px solid #DDECF7;

  background: transparent;

  color: #555;

  font-size: 1rem;
  font-weight: 600;

  cursor: pointer;

  transition: 0.2s;
}

.logout-modal__exit:hover {
  background: #F3FBF8;
}

/* RODAPÉ */

.logout-modal__footer {
  display: block;

  margin-top: 32px;

  font-size: 12px;
  font-weight: 700;

  letter-spacing: 2px;

  color: #9ca3af;
}

/* RESPONSIVO */

@media (max-width: 480px) {

  .logout-modal__container {
    padding: 35px 24px;
  }

  .logout-modal__title {
    font-size: 1.8rem;
  }

}